<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
  <app-loader></app-loader>
</div>

<div class="general-mappings" *ngIf="!isLoading">
  <div class="page-header general-mappings--header">
    <div class="page-header--name mat-h2">
      General Mappings
    </div>
  </div>
  <div class="page-info">
    <div fxLayout="row" fxLayoutAlign="start center" class="page-info--description">
      Set up the following Sage Intacct fields.
      <a href="https://www.fylehq.com/help/en/articles/4507437-onboarding-process-to-set-up-fyle-sage-intacct-integration" target="_blank" rel="noopener noreferrer" class="read-more-link" fxLayout="row"
        fxLayoutAlign="start center">Read more<mat-icon class="read-more-link--icon">open_in_new</mat-icon></a>
    </div>
  </div>
  <form class="general-mappings--form" [formGroup]="form" (ngSubmit)="submit()">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div class="mat-body-strong">
        <strong class="mappings-dialog--label">
          Default Location
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline">
        <mat-select placeholder="Default Location" formControlName="location">
          <mat-option>
            None
          </mat-option>
          <mat-option *ngFor="let option of sageIntacctLocations" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mat-body-strong">
        <strong class="mappings-dialog--label">
          Default Department
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline">
        <mat-select placeholder="Default Department" formControlName="department">
          <mat-option>
            None
          </mat-option>
          <mat-option *ngFor="let option of sageIntacctDepartments" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mat-body-strong">
        <strong class="mappings-dialog--label">
          Default Project
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline">
        <mat-select placeholder="Default Project" formControlName="project">
          <mat-option>
            None
          </mat-option>
          <mat-option *ngFor="let option of sageIntacctProjects" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mat-body-strong" *ngIf="generalSettings.corporate_credit_card_expenses_object && generalSettings.corporate_credit_card_expenses_object === 'CHARGE_CARD_TRANSACTION'">
        <strong class="mappings-dialog--label">
          Default Charge Card
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline" required 
      *ngIf="generalSettings.corporate_credit_card_expenses_object && generalSettings.corporate_credit_card_expenses_object === 'CHARGE_CARD_TRANSACTION'">
        <mat-select placeholder="Default Charge Card" formControlName="chargeCard">
          <mat-option *ngFor="let option of sageIntacctDefaultChargeCard" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mat-body-strong" *ngIf="generalSettings.corporate_credit_card_expenses_object && generalSettings.corporate_credit_card_expenses_object === 'BILL'">
        <strong class="mappings-dialog--label">
          Default Credit Card Vendor
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline" required 
      *ngIf="generalSettings.corporate_credit_card_expenses_object && generalSettings.corporate_credit_card_expenses_object === 'BILL'">
        <mat-select placeholder="Default Credit Card Vendor" formControlName="defaultVendor">
          <mat-option *ngFor="let option of sageIntacctDefaultVendor" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <div class="mat-body-strong" *ngIf="generalSettings.import_projects">
        <strong class="mappings-dialog--label">
          Default Item
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline" required 
       *ngIf="generalSettings.import_projects">
        <mat-select placeholder="Default Item" formControlName="defaultItem">
          <mat-option *ngFor="let option of sageIntacctDefaultItem" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mat-body-strong" *ngIf="generalSettings.sync_fyle_to_sage_intacct_payments">
        Payment Account
      </div>
      <mat-form-field floatLabel="always" appearance="outline" required
        *ngIf="generalSettings.sync_fyle_to_sage_intacct_payments">
        <mat-select class="general-mappings--input" placeholder="Select payment Account"
          formControlName="paymentAccount">
          <mat-option *ngFor="let bankAccount of sageIntacctPaymentAccounts; let i = index" [value]="sageIntacctPaymentAccounts[i].destination_id">
            {{sageIntacctPaymentAccounts[i].value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <button class="configurations--save-btn" mat-flat-button color="primary" (click)="submit()" type="submit">
      Save
    </button>
  </form>
</div>