<div class="internal-loader" fxLayoutAlign="center start" *ngIf="isLoading" fxFlexFill>
  <app-loader></app-loader>
</div>

<div class="general-mappings" *ngIf="!isLoading">
  <div class="page-header general-mappings--header">
    <div class="page-header--name mat-h2">
      General Mappings
    </div>
  </div>
  <div class="page-info">
    <div fxLayout="row" fxLayoutAlign="start center" class="page-info--description">
      Set up the following Sage Intacct fields.
      <a href="https://www.fylehq.com/help/en/articles/4507437-onboarding-process-to-set-up-fyle-sage-intacct-integration" target="_blank" rel="noopener noreferrer" class="read-more-link" fxLayout="row"
        fxLayoutAlign="start center">Read more<mat-icon class="read-more-link--icon">open_in_new</mat-icon></a>
    </div>
  </div>
  <form class="general-mappings--form" [formGroup]="form">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div class="mat-body-strong">
        <strong class="mappings-dialog--label">
          Default Location
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline">
        <mat-select placeholder="Default Location" formControlName="location">
          <mat-option>
            None
          </mat-option>
          <mat-option *ngFor="let option of sageIntacctLocations" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mat-body-strong">
        <strong class="mappings-dialog--label">
          Default Department
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline">
        <mat-select placeholder="Default Department" formControlName="department">
          <mat-option>
            None
          </mat-option>
          <mat-option *ngFor="let option of sageIntacctDepartments" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mat-body-strong">
        <strong class="mappings-dialog--label">
          Default Project
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline">
        <mat-select placeholder="Default Project" formControlName="project">
          <mat-option>
            None
          </mat-option>
          <mat-option *ngFor="let option of sageIntacctProjects" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mat-body-strong">
        <strong class="mappings-dialog--label">
          Default Class
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline">
        <mat-select placeholder="Default Class" formControlName="defaultClass">
          <mat-option>
            None
          </mat-option>
          <mat-option *ngFor="let option of sageIntacctClasses" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mat-body-strong" *ngIf="configuration.corporate_credit_card_expenses_object && (configuration.corporate_credit_card_expenses_object === 'CHARGE_CARD_TRANSACTION' || configuration.corporate_credit_card_expenses_object === 'JOURNAL_ENTRY')">
        <strong class="mappings-dialog--label">
          Default Charge Card
          <mandatory-field *ngIf="isFieldMandatory('chargeCard')"></mandatory-field>
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline" required 
      *ngIf="configuration.corporate_credit_card_expenses_object && (configuration.corporate_credit_card_expenses_object === 'CHARGE_CARD_TRANSACTION' || configuration.corporate_credit_card_expenses_object === 'JOURNAL_ENTRY')">
        <mat-select placeholder="Default Charge Card" formControlName="chargeCard">
          <mat-option *ngFor="let option of sageIntacctDefaultChargeCard" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mandatory-error-message listName="default charge card account" *ngIf="form.controls.chargeCard.touched && !form.controls.chargeCard.valid"></mandatory-error-message>

      <div class="mat-body-strong" *ngIf="configuration.corporate_credit_card_expenses_object && configuration.corporate_credit_card_expenses_object === 'BILL'">
        <strong class="mappings-dialog--label">
          Default Credit Card Vendor
          <mandatory-field *ngIf="isFieldMandatory('defaultVendor')"></mandatory-field>
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline" required 
      *ngIf="configuration.corporate_credit_card_expenses_object && configuration.corporate_credit_card_expenses_object === 'BILL'">
        <mat-select placeholder="Default Credit Card Vendor" formControlName="defaultVendor">
          <mat-option *ngFor="let option of sageIntacctDefaultVendor" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mandatory-error-message listName="default credit card vendor" *ngIf="form.controls.defaultVendor.touched && !form.controls.defaultVendor.valid"></mandatory-error-message>
      
      <div class="mat-body-strong" *ngIf="projectMappingSetting.length">
        <strong class="mappings-dialog--label">
          Default Item
          <mandatory-field *ngIf="isFieldMandatory('defaultItem')"></mandatory-field>
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline" required 
       *ngIf="projectMappingSetting.length">
        <mat-select placeholder="Default Item" formControlName="defaultItem">
          <mat-option *ngFor="let option of sageIntacctDefaultItem" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mandatory-error-message listName="default item" *ngIf="form.controls.defaultItem.touched && !form.controls.defaultItem.valid"></mandatory-error-message>

      <div class="mat-body-strong" *ngIf="configuration.sync_fyle_to_sage_intacct_payments">
        <strong class="mappings-dialog--label">
          Payment Account
          <mandatory-field *ngIf="isFieldMandatory('paymentAccount')"></mandatory-field>
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline" required 
        *ngIf="configuration.sync_fyle_to_sage_intacct_payments">
        <mat-select placeholder="Select payment Account" formControlName="paymentAccount">
          <mat-option *ngFor="let bankAccount of sageIntacctPaymentAccounts; let i = index" [value]="sageIntacctPaymentAccounts[i].destination_id"
          matTooltip="{{sageIntacctPaymentAccounts[i].value}}"  [matTooltipPosition] = "'right'">
            {{sageIntacctPaymentAccounts[i].value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mandatory-error-message listName="payment account" *ngIf="form.controls.paymentAccount.touched && !form.controls.paymentAccount.valid"></mandatory-error-message>

      <div class="mat-body-strong"
      *ngIf="configuration.reimbursable_expenses_object === 'EXPENSE_REPORT'">
        <strong class="mappings-dialog--label">
          Default Reimbursable Expense Payment Type
          <mandatory-field *ngIf="isFieldMandatory('defaultReimbursableExpensePaymentType')"></mandatory-field>
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline"
      *ngIf="configuration.reimbursable_expenses_object === 'EXPENSE_REPORT'">
        <mat-select placeholder="Default Reimbursable Expense Payment Type" formControlName="defaultReimbursableExpensePaymentType">
          <mat-option *ngFor="let option of sageIntacctReimbursableExpensePaymentType" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mandatory-error-message listName="default reimbursable expense payment type" *ngIf="form.controls.defaultReimbursableExpensePaymentType.touched && !form.controls.defaultReimbursableExpensePaymentType.valid"></mandatory-error-message>

      <div class="mat-body-strong"
      *ngIf="configuration.corporate_credit_card_expenses_object === 'EXPENSE_REPORT'">
        <strong class="mappings-dialog--label">
          Default CCC Expense Payment Type
          <mandatory-field *ngIf="isFieldMandatory('defaultCCCExpensePaymentType')"></mandatory-field>
        </strong>
      </div>
      <mat-form-field class="mappings-dialog--form-element" appearance="outline" required 
      *ngIf="configuration.corporate_credit_card_expenses_object === 'EXPENSE_REPORT'">
        <mat-select placeholder="Default CCC Expense Payment Type" formControlName="defaultCCCExpensePaymentType">
          <mat-option *ngFor="let option of sageIntacctCCCExpensePaymentType" [value]="option.destination_id">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mandatory-error-message listName="default ccc expense payment type" *ngIf="form.controls.defaultCCCExpensePaymentType.touched && !form.controls.defaultCCCExpensePaymentType.valid"></mandatory-error-message>
      
      <div class="mat-body-strong" *ngIf="configuration.import_tax_codes">
        Default Tax Code
        <mandatory-field *ngIf="isFieldMandatory('sageIntacctTaxCodes')"></mandatory-field>
      </div>
        <mat-form-field floatLabel="always" appearance="outline" required
          *ngIf="configuration.import_tax_codes">
          <mat-select class="general-mappings--input" placeholder="Select Tax Group"
            formControlName="sageIntacctTaxCodes">
            <mat-option *ngFor="let taxCode of taxCodes; let i = index" [value]="taxCodes[i].destination_id">
              {{taxCodes[i].value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mandatory-error-message listName="default tax code" *ngIf="form.controls.sageIntacctTaxCodes.touched && !form.controls.sageIntacctTaxCodes.valid"></mandatory-error-message>

      <mat-slide-toggle color="primary" class="schedule" formControlName="useDefaultEmployeeLocation" *ngIf="configuration.reimbursable_expenses_object === 'EXPENSE_REPORT'">
        <div class="schedule--toggle-text">
          Use Employee's Sage Intacct Location
          <mat-icon
            [inline]="true"
            class="info-icon"
            matTooltip="Expenses on Sage Intacct will be coded to the Location assigned to the employee on Sage Intacct"
            matTooltipPosition="after">
              info
          </mat-icon>
        </div>
      </mat-slide-toggle>

      <mat-slide-toggle color="primary" class="schedule" formControlName="useDefaultEmployeeDepartment" *ngIf="configuration.reimbursable_expenses_object === 'EXPENSE_REPORT'">
        <div class="schedule--toggle-text">Use Employee's Sage Intacct Department
          <mat-icon
            [inline]="true"
            class="info-icon"
            matTooltip="Expenses on Sage Intacct will be coded to the Department assigned to the employee on Sage Intacct"
            matTooltipPosition="after">
              info
          </mat-icon>
        </div>
      </mat-slide-toggle>

    </div>

    <button [disabled]="!form.valid" class="configurations--save-btn" mat-flat-button color="primary" (click)="submit()" type="submit">
      Save
    </button>
  </form>
</div>